.view {
    background-image: url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

.container  {
    height: 100%;
    width: 100%
}

.title  {
background-color: none;
  color: white;
  position: center;
  padding-left: 5px
}
